head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='msapplication-TileColor', content='#202020')
    meta(name='theme-color', content='#202020')
    meta(name="description" content=description)
    title #{title}
    link(rel='alternate', hreflang=hrefLang, href=meta.rootDir + hrefLangLink)
    link(rel='stylesheet', href=`${meta.rootDir}asset/css/style.min.css`)
    link(rel='stylesheet', href='https://use.typekit.net/ejo7xwh.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500')
    //- Fix this
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
    script(type="text/javascript", src=`${meta.rootDir}asset/js/script.min.js`)
    script(src="https://unpkg.com/aos@next/dist/aos.js")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-scrollify@1/jquery.scrollify.min.js')
    link(rel='apple-touch-icon', sizes='180x180', href=`${meta.rootDir}favicon/apple-touch-icon.png`)
    link(rel='icon', type='image/png', sizes='32x32', href=`${meta.rootDir}favicon/favicon-32x32.png`)
    link(rel='icon', type='image/png', sizes='16x16', href=`${meta.rootDir}favicon/favicon-16x16.png`)
    link(rel='manifest', href=`${meta.rootDir}favicon/site.webmanifest`)
    link(rel='shortcut icon', href=`${meta.rootDir}favicon/favicon.ico`)
    meta(name='msapplication-config', content=`${meta.rootDir}favicon/browserconfig.xml`)
