header.Header(data-aos='fade-down',data-aos-duration="1000")
    .Header__inner
        .Logo
            a.Logo__link(href=`${meta.rootDir + home.langLink}`) Astlanox
        nav.Nav
            input.Nav__toggle(type="checkbox")
            .Nav__hamburger
                span
            .Nav__menu
                .Nav__menuInner
                    .Nav__menuInnerNav
                        .HeaderNav
                            ul.HeaderNav__list
                                li.HeaderNav__listItem.HeaderNav__listItem--home
                                    a.HeaderNav__listItemLink(href=`${meta.rootDir + home.langLink}`) #{header.home}
                                li.HeaderNav__listItem
                                    a.HeaderNav__listItemLink(href=`${meta.rootDir + about.langLink}`) #{header.about}
                                li.HeaderNav__listItem
                                    a.HeaderNav__listItemLink(href=`${meta.rootDir + concept.langLink}`) #{header.concept}
                                li.HeaderNav__listItem
                                    a.HeaderNav__listItemLink(href=`${meta.rootDir + works.langLink}`) #{header.works}
                                li.HeaderNav__listItem.HeaderNav__listItem--contact
                                    a.HeaderNav__listItemLink.HeaderNav__listItemLink--contact(href=`${meta.rootDir + contact.langLink}`) #{header.contact}
                        .SelectLang
                            ul.SelectLang__list
                                li.SelectLang__listItem
                                    a.SelectLang__listItemLink(class=`u-${locale}`)(href=`${meta.rootDir + enLink}`) EN
                                li.SelectLang__listItem
                                    a.SelectLang__listItemLink(class=`j-${locale}`)(href=`${meta.rootDir + jaLink}`) JA
                    .Nav__menuInnerBg
                        .HeaderBg
                            img.HeaderBg__img(src=`${meta.rootDir}asset/images/header_bg_white.png`)
