-var page = webAstlanox
include ../../../module/_locale
doctype html
html(lang=locale)
    include ../../../module/_head
    body
        main.WorksItem
            .WorksItem__header
                h1.WorksItem__headerTitle(data-aos="zoom-in") #{webAstlanox.name}
                img.WorksItem__headerVisual(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_mv.png`, data-aos="fade-up", data-aos-anchor-placement="top-bottom")
            .WorksItem__main
                section.WebAstlanox__link
                    h2.WebAstlanox__linkTitle #{worksItem.link}
                    ul.WebAstlanox__linkList
                        li.WebAstlanox__linkListItem.WebAstlanox__linkListItem--visit
                            a.WebAstlanox__linkListItemHref.WebAstlanox__linkListItemHref--visit(href="https://astlanox.com" target="_blank") #{worksItem.visit}
                        li.WebAstlanox__linkListItem.WebAstlanox__linkListItem--github
                            a.WebAstlanox__linkListItemHref.WebAstlanox__linkListItemHref--github(href="https://github.com/astlanox/com.astlanox"  target="_blank") #{worksItem.github}
                section.WebAstlanox__information
                    h2.WebAstlanox__informationTitle #{worksItem.information}
                    section.WebAstlanox__informationSkill
                        h3.WebAstlanox__informationSkillTitle #{worksItem.skill}
                        ol.WebAstlanox__informationSkillList
                            li.WebAstlanox__informationSkillListItem.WebAstlanox__informationSkillListItem--html HTML
                            li.WebAstlanox__informationSkillListItem.WebAstlanox__informationSkillListItem--css CSS
                            li.WebAstlanox__informationSkillListItem.WebAstlanox__informationSkillListItem--pug Pug
                            li.WebAstlanox__informationSkillListItem.WebAstlanox__informationSkillListItem--sass Sass
                    section.WebAstlanox__informationSoftware
                        h3.WebAstlanox__informationSoftwareTitle #{worksItem.software}
                        ol.WebAstlanox__informationSoftwareList
                            li.WebAstlanox__informationSoftwareListItem.WebAstlanox__informationSoftwareListItem--illustrator Illustrator
                            li.WebAstlanox__informationSoftwareListItem.WebAstlanox__informationSoftwareListItem--vsCode VS Code
                    section.WebAstlanox__informationDetail
                        h3.WebAstlanox__informationDetailTitle #{worksItem.detail}
                        dl.WebAstlanox__informationDetailList
                            .WebAstlanox__informationDetailListItem
                                dt.WebAstlanox__informationDetailListItemTitle #{worksItem.client}
                                dd.WebAstlanox__informationDetailListItemText #{webAstlanox.clientText}
                            .WebAstlanox__informationDetailListItem
                                dt.WebAstlanox__informationDetailListItemTitle #{worksItem.launch}
                                dd.WebAstlanox__informationDetailListItemText #{webAstlanox.launchText}
                            .WebAstlanox__informationDetailListItem
                                dt.WebAstlanox__informationDetailListItemTitle #{worksItem.type}
                                dd.WebAstlanox__informationDetailListItemText #{webAstlanox.typeText}
                            .WebAstlanox__informationDetailListItem
                                dt.WebAstlanox__informationDetailListItemTitle #{worksItem.charge}
                                dd.WebAstlanox__informationDetailListItemText #{webAstlanox.chargeText}
                section.WebAstlanox__about
                    h2.WebAstlanox__aboutTitle #{worksItem.about}
                    p.WebAstlanox__aboutText #{webAstlanox.aboutText}
                section.WebAstlanox__concept
                    h2.WebAstlanox__conceptTitle #{worksItem.concept}
                    p.WebAstlanox__conceptText #{webAstlanox.conceptText}
                section.WebAstlanox__responsible
                    h2.WebAstlanox__responsibleTitle #{worksItem.responsible}
                    p.WebAstlanox__responsibleText #{webAstlanox.responsibleText}
                    p.WebAstlanox__responsibleVisual
                        img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_responsible.png`)
                section.WebAstlanox__visual
                    h2.WebAstlanox__visualTitle #{worksItem.visual}
                    p.WebAstlanox__visualImg
                        img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_screen_01.png`)
                    p.WebAstlanox__visualImg
                        img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_screen_02.png`)
                    p.WebAstlanox__visualImg
                        img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_screen_03.png`)
                    p.WebAstlanox__visualImg
                        img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_screen_04.png`)
                    section.WebAstlanox__illustration
                        h3.WebAstlanox__illustrationTitle #{worksItem.illustration}
                        p.WebAstlanox__illustrationVisual
                            img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_illustration.png`)
                    //- section.WebAstlanox__autoReply
                        h3.WebAstlanox__autoReplyTitle #{worksItem.autoReply}
                //- section.WebAstlanox__animation
                    h2.WebAstlanox__animationTitle #{worksItem.animation}
                section.WebAstlanox__multiple
                    h2.WebAstlanox__multipleTitle #{worksItem.multiple}
                    p.WebAstlanox__multipleText #{webAstlanox.multipleText}
                    p.WebAstlanox__multipleVisual
                        img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_multiple.png`)
                section.WebAstlanox__technology
                    h2.WebAstlanox__technologyTitle #{worksItem.technology}
                    section.WebAstlanox__sass
                        h3.WebAstlanox__sassTitle #{worksItem.sass}
                        p.WebAstlanox__sassText #{webAstlanox.sassText}
                        p.WebAstlanox__sassVisual
                            img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_sass.png`)
                    section.WebAstlanox__bem
                        h3.WebAstlanox__bemTitle #{worksItem.bem}
                        p.WebAstlanox__bemText #{webAstlanox.bemText}
                        p.WebAstlanox__bemVisual
                            img(src=`${meta.rootDir}asset/images/web/astlanox/astlanox_img_bem.png`)
            .WorksItem__footer
                ol.WorksItem__footerBreadcrumb(itemscope='', itemtype='https://schema.org/BreadcrumbList')
                    li.WorksItem__footerBreadcrumbItem
                        a.WorksItem__footerBreadcrumbItemLink.WorksItem__footerBreadcrumbItemLink--home(href=`${meta.rootDir + home.langLink}`)
                            span.WorksItem__footerBreadcrumbItemLinkText.WorksItem__footerBreadcrumbItemLinkText--home Home
                    span.WorksItem__footerBreadcrumbItem.WorksItem__footerBreadcrumbItem--right ›
                    li.WorksItem__footerBreadcrumbItem(itemprop='itemListElement', itemscope='', itemtype='https://schema.org/ListItem')
                        a.WorksItem__footerBreadcrumbItemLink(itemtype='https://schema.org/Thing', itemprop='item', href=`${meta.rootDir + works.langLink}`)
                            span.WorksItem__footerBreadcrumbItemLinkText(itemprop='name') #{works.name}
                        meta(itemprop='position', content='2')
                    span.WorksItem__footerBreadcrumbItem.WorksItem__footerBreadcrumbItem--right ›
                    li.WorksItem__footerBreadcrumbItem(itemprop='itemListElement', itemscope='', itemtype='https://schema.org/ListItem')
                        a.WorksItem__footerBreadcrumbItemLink(itemtype='https://schema.org/Thing', itemprop='item', href=`${meta.rootDir + web.langLink}`)
                            span.WorksItem__footerBreadcrumbItemLinkText(itemprop='name') #{web.name}
                        meta(itemprop='position', content='3')
                    span.WorksItem__footerBreadcrumbItem.WorksItem__footerBreadcrumbItem--right ›
                    li.WorksItem__footerBreadcrumbItem(itemprop='itemListElement', itemscope='', itemtype='https://schema.org/ListItem')
                        a.WorksItem__footerBreadcrumbItemLink(itemtype='https://schema.org/Thing', itemprop='item', href=`${meta.rootDir + webAstlanox.langLink}`)
                            span.WorksItem__footerBreadcrumbItemLinkText(itemprop='name') #{webAstlanox.name}
                        meta(itemprop='position', content='4')
                p.WorksItem__footerMessage
                    |Made with 
                    span.WorksItem__footerMessageLove love
                    |  and 
                    span.WorksItem__footerMessageCoffee coffee
                    |  by Astlanox.
            .WorksItem__close
                a(href=`${meta.rootDir + works.langLink}`)
                    span.WorksItem__closeButton
        include ../../../module/_script