-var page = concept
include ../module/_locale
doctype html
html(lang=locale)
    include ../module/_head
    body
        include ../module/_header
        main.Concept
            .Concept__header
                h1.Concept__headerTitle(data-aos='fade-up',data-aos-delay="500") #{concept.name}
                .Scroll(data-aos='zoom-in', data-aos-delay="1500",data-aos-anchor-placement="top-bottom")
            .Concept__main
                section.ConceptOne
                    .ConceptOne__inner
                        .ConceptOne__content
                            h2.ConceptOne__contentTitle(data-aos='fade-up') #{concept.oneTitle}
                            p.ConceptOne__contentText(data-aos='fade-up') #{concept.oneText}
                        .ConceptOne__visual
                            .ConceptOne__visualImg(data-aos='zoom-in')
                                img(src=`${meta.rootDir}asset/images/concept_img_01.png`)
                section.ConceptSecond
                    .ConceptSecond__inner
                        .ConceptSecond__content
                            h2.ConceptSecond__contentTitle(data-aos='fade-up') #{concept.twoTitle}
                            p.ConceptSecond__contentText(data-aos='fade-up') #{concept.twoText}
                        .ConceptSecond__visual
                            .ConceptSecond__visualImg(data-aos='zoom-in')
                                img(src=`${meta.rootDir}asset/images/concept_img_02.png`)
                section.ConceptThird
                    .ConceptThird__inner
                        .ConceptThird__content
                            h2.ConceptThird__contentTitle(data-aos='fade-up') #{concept.thirdTitle}
                            p.ConceptThird__contentText(data-aos='fade-up') #{concept.thirdText}
                        .ConceptThird__visual
                            .ConceptThird__visualImg(data-aos='zoom-in')
                                img(src=`${meta.rootDir}asset/images/concept_img_03.png`)
            .Concept__footer
                ol.Breadcrumb(itemscope='', itemtype='https://schema.org/BreadcrumbList')
                    li.Breadcrumb__item
                        a.Breadcrumb__itemLink.Breadcrumb__itemLink--home(href=`${meta.rootDir + home.langLink}`)
                            span.Breadcrumb__itemLinkText.Breadcrumb__itemLinkText--home Home
                    span.Breadcrumb__item.Breadcrumb__item--right ›
                    li.Breadcrumb__item(itemprop='itemListElement', itemscope='', itemtype='https://schema.org/ListItem')
                        a.Breadcrumb__itemLink(itemtype='https://schema.org/Thing', itemprop='item', href=`${meta.rootDir + concept.langLink}`)
                            span.Breadcrumb__itemLinkText(itemprop='name') #{concept.name}
                        meta(itemprop='position', content='1')
        include ../module/_footer
        include ../module/_script
